<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The HomePage Content * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<div class="content" role="main">

  <body>
    <section class="showcase">
      <header>
        <div class="menu">
          <nav>
            <li><a href="">Home Page</a></li>
            <li><a href="">Hero list</a></li>
            <li><a href="">Item Build</a></li>
          </nav>
        </div>
        <img class="logo" src="../assets/Images/Icons/logo.png">
      </header>
      <video class="video" src="../assets/Video/video.mp4" loop autoplay></video>
      <br>
      <div class="overlay"></div>

      <div class="text">
        <h2>MLBB Project</h2>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quidem impedit dolor neque fuga nisi
          provident.</h3>
        <a href="">More Info</a>
      </div>

      <ul class="social">
        <li><a href="#"><img src="../assets/Images/Social-Icons/facebook.png" alt=""></a></li>
        <li><a href="#"><img src="../assets/Images/Social-Icons/instagram.png" alt=""></a></li>
        <li><a href="#"><img src="../assets/Images/Social-Icons/telegram.png" alt=""></a></li>
        <li><a href="#"><img src="../assets/Images/Social-Icons/twitter.png" alt=""></a></li>
        <li><a href="#"><img src="../assets/Images/Social-Icons/youtube.png" alt=""></a></li>
      </ul>
    </section>

    <script>
      const menuToggle = document.querySelector('.toggle')
      const showcase = document.querySelector('.showcase')

      menuToggle.addEventListener('click', () => {
        menuToggle.classList.toggle('active')
        showcase.classList.toggle('active')
      })
    </script>
  </body>
</div>

<router-outlet></router-outlet>
